<div class="login-container">
  <div class="form-wrapper">
    <!-- Logo fora do card -->
    <img src="assets/logo2.png" alt="Logo" class="logo" />

    <div class="form-card">
      <h2 class="title">Seja bem-vindo!</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
        <div class="field">
          <label for="email">Usuário</label>
          <input id="email" type="email" pInputText formControlName="email" placeholder="Digite seu usuário" />
        </div>
        <div class="field">
          <label for="password">Senha</label>
          <input id="password" type="password" pInputText formControlName="password" placeholder="Digite sua senha" />
        </div>
        <button pButton type="submit" class="p-button p-button-lg p-button-primary w-full"
          style="border-radius: 30px; height: 40px; font-size: medium;" [disabled]="loading">
          <ng-container *ngIf="!loading">
            <span class="p-button-label">Entrar</span>
          </ng-container>
          <ng-container *ngIf="loading">
            <i class="pi pi-spin pi-spinner"></i>
            <span class="p-button-label">Entrando...</span>
          </ng-container>
        </button>
        <div class="actions">
          <a href="#" (click)="abrirModalRecuperarSenha($event)">Esqueci minha senha</a>
          <a href="https://datahound.shop" target="_blank" rel="noopener noreferrer">Cadastre-se</a>
        </div>
      </form>
    </div>
    <!-- Rodapé -->
    <div class="footer">
      Wima Group 2025. All Rights Reserved.
    </div>
  </div>
</div>
