.dashboard-container {
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header .logo {
  width: 50px;
  margin-right: 1rem;
}

.text-green {
  color: #28a745;
  font-weight: 500;
}

.text-red {
  color: #dc3545;
  font-weight: 500;
}