.dashboard-container {
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header .logo {
  width: 480px;
  margin-right: 1rem;
}

.text-green {
  color: #28a745;
  font-weight: 500;
}

.text-red {
  color: #dc3545;
  font-weight: 500;
}

:host ::ng-deep .compact-table .p-datatable-tbody > tr > td,
:host ::ng-deep .compact-table .p-datatable-thead > tr > th {
  padding-top: 0.05rem !important;
  padding-bottom: 0.05rem !important;
  font-size: 0.75rem !important;
}

:host ::ng-deep .small-text * {
  font-size: 0.70rem !important;
}

