.dashboard-container {
    padding: 2rem;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .header .logo {
    width: 50px;
    margin-right: 1rem;
  }
  